@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card mb-3 widget-content bg-midnight-bloom">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Pending trips</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>@ViewBag.CountPendingTrips</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card mb-3 widget-content bg-amy-crisp">
            <div class="widget-content-wrapper text-dark">
                <div class="widget-content-left">
                    <div class="widget-heading">Completed trips</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-dark"><span>@ViewBag.CountCompletedTrips</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card mb-3 widget-content bg-grow-early">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Total income</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>@ViewBag.SumTotalIncome.ToString("C")</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card mb-3 widget-content bg-premium-dark">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Total vehicles</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-warning"><span>@ViewBag.CountVehicles</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6"></div>
    <div class="col-12 col-md-6"></div>
</div>